<div class="restaurant-reservation">
  <h2 class="restaurant-name">
    <%= @restaurant.name %>
  </h2>
  
  <%= form_with model: [ @restaurant, @reservation ], url: restaurant_reservations_path, local: true do |f|%>
    <div class="personal-information">
      <span>来店日</span>
      <%= f.label :date_time %>
      <%= f.datetime_select :date_time %>
      <div class="people-number">
        <span>人数</span>
        <%= f.text_area :number, placeholder:"例（3人）"%>
      </div>
      <div class="name-form">  
        <span>姓</span>
        <%= f.text_area :lastname %>
        <span>名</span>
        <%= f.text_area :firstname %>
      </div>
      <div class="name-kanaform">
        <span>姓（カナ）</span>
        <%= f.text_area :lastname_kana %>
        <span>名（カナ）</span>
        <%= f.text_area :firstname_kana %>
      </div>
      <div class="request-form">  
        <span>要望</span>
        <%= f.text_area :request %>
      </div>
      <%= f.submit "予約する" %>
    </div>
      
  <% end %>
  <div class="precautions">
    <h4 class="precautions-title">キャンセルポリシー</h4>
    <p>本予約をキャンセルされた場合、下記の料金を頂戴いたします</p>
    <p>当日キャンセル（連絡なし）：5000円（１予約あたり）</p>
    <p>当日キャンセル（連絡あり）：5000円（同上）</p>
  </div>
  <div class="reserve-btn-contents">
    <p>予約成立後にお店へ連絡なくキャンセルされると、サービスのご利用を制限させていただく場合があります。</p>
    
    <form>
  </div>
</div>