

<div class="main">
  <div class="title-constents">
    <h2 class="service-title">
    お店探しはグルメアプリ
    </h2>
    <p class="service">
    掲載店舗数・写真数NO.1
    </p>

    <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname"%> </li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%> </li> 
    <% else %>
      <li><%= link_to 'ログイン', "#", class: "login" %></li>
      <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
    <% end %>
  </div>
  <div class="restaurant-search">
    <div class="input-search">
      <%= search_form_for @p, url: search_restaurants_path do |f| %>
        <%= f.label :about_cont, '入力欄' %>
        <%= f.search_field :about_cont %>
        <br>
        <%= f.submit '検索' %>
        <h2>
         エリアから探す
        </h2>
        <%= f.label :area, 'エリア' %>
        <%= f.radio_button :area_eq, '銀座・新橋・有楽町' %>
        銀座・新橋・有楽町
        <%= f.radio_button :area_eq, '池袋' %>
        池袋
        <%= f.radio_button :area_eq, '原宿・表参道・青山' %>
        原宿・表参道・青山
        <%= f.radio_button :area_eq, '浜松町・田町・品川' %>
        浜松町・田町・品川
        <%= f.radio_button :area_eq, '渋谷・恵比寿・代官山' %>
        渋谷・恵比寿・代官山
        <%= f.radio_button :area_eq, '六本木・麻布・広尾' %>
        六本木・麻布・広尾
        <%= f.radio_button :area_eq, '上野・浅草・日暮里' %>
        上野・浅草・日暮里
        <%= f.radio_button :area_eq, '新宿・代々木・大久保' %>
        新宿・代々木・大久保
        <%= f.radio_button :area_eq, '赤坂・永田町・溜池' %>
        赤坂・永田町・溜池
        <%= f.radio_button :area_eq, '目黒・白金・五反田' %>
        目黒・白金・五反田
        <%= f.radio_button :area_eq, '吉祥寺・三鷹' %>
        吉祥寺・三鷹
        <%= f.radio_button :area_eq, '町田・稲城' %>
        町田・稲城
        <%= f.submit '検索' %>
        <h2 class="search-title">
         ジャンルから探す
        </h2>
        <%= f.label :genre_eq, 'ジャンルから探す'%>
        <%= f.collection_select :genre_eq, @restaurant_genre, :genre, :genre, include_blank: '指定なし' %>
        <br>
        <%= f.submit '検索' %>
        <h2 class="service-title">
        利用シーンから探す
        </h2>
        <%= f.label :scene_cont, '利用シーンから探す'%>
        <%= f.collection_select :scene_cont, @restaurant_scene, :scene, :scene, include_blank: '指定なし' %>
        <br>
        <%= f.submit '検索' %>
        <h2 class="service-title">
        特徴から探す
        </h2>
        <%= f.label :feature_cont, '特徴から探す'%>
        <%= f.collection_select :feature_cont, @restaurant_feature, :feature, :feature, include_blank: '指定なし' %>
        <br>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  
    
       
    </div>
    <div class="review-search">
      <ul class="review-lists">
        <li class="review-list">
        </li>
        <li class="review-list">
        </li>
        <li class="review-list">
        </li>
        <li class="review-list">
        </li>
        <li class="review-list">
        </li>
      </ul>
    </div>
