

<div class="main">
  <div class="title-constents">
    <h2 class="service-title">
    お店探しはグルメアプリ
    </h2>
    <p class="service">
    掲載店舗数・写真数NO.1
    </p>
  </div>
  <div class="restaurant-search">
    <div class="input-search">
      <%= search_form_for @p, url: search_restaurants_path do |f| %>
        <%= f.label :about_cont, '入力欄' %>
        <%= f.search_field :about_cont %>
        <br>
        <%= f.submit '検索' %>
        <h2 class="search-title">
         ジャンルから探す
        </h2>
        <%= f.label :genre_eq, 'ジャンルから探す'%>
        <%= f.collection_select :genre_eq, @restaurant_genre, :genre, :genre, include_blank: '指定なし' %>
        <br>
        <%= f.submit '検索' %>
        <h2 class="service-title">
        利用シーンから探す
        </h2>
        <%= f.label :scene_cont, '利用シーンから探す'%>
        <%= f.collection_select :scene_cont, @restaurant_scene, :scene, :scene, include_blank: '指定なし' %>
        <br>
        <%= f.submit '検索' %>
        <h2 class="service-title">
        特徴から探す
        </h2>
        <%= f.label :feature_cont, '特徴から探す'%>
        <%= f.collection_select :feature_cont, @restaurant_feature, :feature, :feature, include_blank: '指定なし' %>
        <br>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  
    
       
    </div>
    <div class="review-search">
      <ul class="review-lists">
        <li class="review-list">
        </li>
        <li class="review-list">
        </li>
        <li class="review-list">
        </li>
        <li class="review-list">
        </li>
        <li class="review-list">
        </li>
      </ul>
    </div>
