<div class="restaurant-resigter">
  <h2>レストラン新規登録（レストラン情報入力）</h2>
  <div class="basic-information">
   <%= form_with model: @restaurant, url: restaurants_path, local: true do |f| %>
  
    <div class="restaurant-information">
      <div class="weight-bold-text">
        店の名前
        <span class="indispensable">必須</span>
      </div>
      <br>
      <%= f.text_area :name %>
      <div class="weight-bold-text">
        店の名前（カナ）
        <span class="indispensable">必須</span>
      </div>
      <br>
      <%= f.text_area :name_alias %>
      <div class="weight-bold-text">
        電話番号
        <span class="indispensable">必須</span>
      </div>
      <br>
      <%= f.text_area :tel %>
      <div class="weight-bold-text">
        店の情報
        <span class="indispensable">必須</span>
      </div>
      <br>
      <%= f.text_area :about %>
      <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <div class="address-information">
      <div class="weight-bold-text">
        都道府県
        <span class="indispensable">必須</span>
      </div>
      <br>
      <%= f.text_area :prefecture %>
      <div class="weight-bold-text">
        市区町村、番地
        <span class="indispensable">必須</span>
      </div>
      <br>
      <%= f.text_area :city_address %>
     <div class="weight-bold-text">
        建物名
     </div>
      <br>
      <%= f.text_area :building_name %>
      
      <div class="weight-bold-text">
        エリア
        <span class="indispensable">必須</span>
      </div>
      <br>
      <label><%= f.radio_button :area, "銀座・新橋・有楽町" %> 銀座・新橋・有楽町 </label>
      <label><%= f.radio_button :area, "池袋" %> 池袋 </label>
      <label><%= f.radio_button :area, "原宿・表参道・青山" %> 原宿・表参道・青山 </label>
      <label><%= f.radio_button :area, "浜松町・田町・品川" %> 浜松町・田町・品川 </label>
      <label><%= f.radio_button :area, "渋谷・恵比寿・代官山" %> 渋谷・恵比寿・代官山 </label>
      <label><%= f.radio_button :area, "六本木・麻布・広尾" %> 六本木・麻布・広尾 </label>
      <label><%= f.radio_button :area, "上野・浅草・日暮里" %> 上野・浅草・日暮里 </label>
      <label><%= f.radio_button :area, "新宿・代々木・大久保" %> 新宿・代々木・大久保 </label>
      <label><%= f.radio_button :area, "赤坂・永田町・溜池" %> 赤坂・永田町・溜池 </label>
      <label><%= f.radio_button :area, "目黒・白金・五反田" %> 目黒・白金・五反田 </label>
      <label><%= f.radio_button :area, "吉祥寺・三鷹" %> 吉祥寺・三鷹 </label>
      <label><%= f.radio_button :area, "町田・稲城" %> 町田・稲城 </label>
      
      
      
    </div>
    <div class="gunre-information">
     <div class="weight-bold-text">
        ジャンル
        <span class="indispensable">必須</span>
      </div>
     <br>
      <label><%= f.radio_button :genre, "焼肉" %> 焼肉 </label>
      <label><%= f.radio_button :genre, "寿司" %> 寿司 </label>
      <label><%= f.radio_button :genre, "居酒屋 "%> 居酒屋 </label>
      <label><%= f.radio_button :genre, "イタリアン" %> イタリアン </label>
      <label><%= f.radio_button :genre, "中華料理" %> 中華料理 </label>
      <label><%= f.radio_button :genre, "カフェ" %> カフェ </label>
      <label><%= f.radio_button :genre, "和食" %> 和食 </label>
      <label><%= f.radio_button :genre, "フレンチ" %> フレンチ </label>
      <label><%= f.radio_button :genre, "韓国料理" %> 韓国料理 </label>
      <label><%= f.radio_button :genre, "スイーツ" %> スイーツ </label>
      
    </div>
  </div>
  <div class="detail-information">
    <div class="reservation-information">
      <div class="weight-bold-text">
        予約について
      </div>
      <br>
      <%= f.collection_select(:reserve_id, Reserve.all, :id, :name) %>
    </div>
    <div class="traffic-hours-holiday-information">
      <div class="weight-bold-text">
        交通経路
      </div>
      <br>
      <%= f.text_area :transportation %>
      <div class="weight-bold-text">
        営業時間
      </div>
      <br>
      <%= f.text_area :hours %>
      <div class="weight-bold-text">
        定休日
      </div>
      <br>
      <%= f.text_area :holiday %>
      
    </div>
    <div class="bugget-information">
      <div class="weight-bold-text">
        予算（夜）
      </div>）
      <br>
      <%= f.collection_select(:budget_dinner_id, BudgetDinner.all, :id, :name) %>
      <div class="weight-bold-text">
        予算（昼）
      </div>
      <br>
      <%= f.collection_select(:budget_lunch_id, BudgetLunch.all, :id, :name) %>
    </div>
    <div class="seat-facility-information">
      <div class="weight-bold-text">
        座席数
      </div>
      <br>
      <%= f.text_area :seats_number, placeholder:"数字のみ" %>
      <%= f.text_area :seats_number_explain, placeholder:"席の概要" %>
      <div class="weight-bold-text">
        個室について
      </div>
      <br>
      <%= f.collection_select(:private_room_id, PrivateRoom.all, :id, :name)%>
      <%= f.text_area :private_room_explain, placeholder:"個室の概要" %>
      <div class="weight-bold-text">
        貸切について
      </div>
      <br>
      <%= f.collection_select(:charter_id, Charter.all, :id, :name)%>
      <div class="weight-bold-text">
        喫煙禁煙
      </div>
      <br>
      <%= f.collection_select(:smoking_id, Smoking.all, :id, :name)%>
    </div>
    <div class="menu-information">
      <div class="weight-bold-text">
        ドリンクメニュー
      </div>
      <br>
      <%= f.collection_select(:drink_id, Drink.all, :id, :name)%>
      <div class="weight-bold-text">
        フードメニュー
      </div>
      <br>
      <%= f.collection_select(:food_id, Food.all, :id, :name)%>
    
    </div>
    <div class="feature-information">
      <div class="weight-bold-text">
        利用シーン
        <span class="indispensable">必須</span>
      </div> 
      <br>
      <label><%= f.radio_button :scene, "初デート" %> 初デート </label>
      <label><%= f.radio_button :scene, "彼女の誕生日" %> 彼女の誕生日 </label>
      <label><%= f.radio_button :scene, "記念日" %> 記念日 </label>
      <label><%= f.radio_button :scene, "合コン" %> 合コン </label>
      <div class="weight-bold-text">
        店の特徴
        <span class="indispensable">必須</span>
      </div>
      <br>
      <label><%= f.radio_button :feature, "初デートにオススメ" %> 初デートにオススメ </label>
      <label><%= f.radio_button :feature, "お手頃だけどお洒落" %> お手頃だけどお洒落 </label>
      <label><%= f.radio_button :feature, "お手頃なイタリアン" %> お手頃なイタリアン </label>
      <label><%= f.radio_button :feature, "個室がある" %> 個室がある </label>
      <label><%= f.radio_button :feature, "学生にオススメ" %> 学生にオススメ </label>
      <label><%= f.radio_button :feature, "カップルシートがある" %> カップルシートがある </label>
      <label><%= f.radio_button :feature, "お洒落な空間" %> お洒落な空間 </label>
      <label><%= f.radio_button :feature, "喫煙可能" %> 喫煙可能 </label>
      <label><%= f.radio_button :feature, "夜景がキレイ" %> 夜景がキレイ </label>
    </div>
  </div>
  <div class="btn-contents">
    <%= f.submit "出店する" %>
  </div>
  <% end %>
</div>