<div class="restaurant-resigter">
  <h2>レストラン新規登録（レストラン情報入力）</h2>
  <div class="basic-information">
   <%= form_with model: @restaurant, url: restaurants_path, local: true do |f| %>
  
    <div class="restaurant-information">
      店の名前
      <%= f.text_area :name %>
      店の名前（カナ）
      <%= f.text_area :name_alias %>
      電話番号
      <%= f.text_area :tel %>
      店の情報
      <%= f.text_area :about %>
      <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <div class="address-information">
      都道府県
      <%= f.text_area :prefecture %>
      市区町村、番地
      <%= f.text_area :city_address %>
      建物名
      <%= f.text_area :building_name %>
      地図
      エリア
      
      
      
    </div>
    <div class="gunre-information">
      <label><%= f.radio_button :genre, "焼肉" %> 焼肉 </label>
      <label><%= f.radio_button :genre, "寿司" %> 寿司 </label>
      <label><%= f.radio_button :genre, "居酒屋 "%> 居酒屋 </label>
      <label><%= f.radio_button :genre, "イタリアン" %> イタリアン </label>
      <label><%= f.radio_button :genre, "中華料理" %> 中華料理 </label>
      <label><%= f.radio_button :genre, "カフェ" %> カフェ </label>
      <label><%= f.radio_button :genre, "和食" %> 和食 </label>
      <label><%= f.radio_button :genre, "フレンチ" %> フレンチ </label>
      <label><%= f.radio_button :genre, "韓国料理" %> 韓国料理 </label>
      <label><%= f.radio_button :genre, "スイーツ" %> スイーツ </label>
      
    </div>
  </div>
  <div class="detail-information">
    <div class="reservation-information">
      予約について
      <%= f.collection_select(:reserve_id, Reserve.all, :id, :name) %>
    </div>
    <div class="traffic-hours-holiday-information">
      交通経路
      <%= f.text_area :transportation %>
      営業時間
      <%= f.text_area :hours %>
      定休日
      <%= f.text_area :holiday %>
      
    </div>
    <div class="bugget-information">
      予算（夜）
      <%= f.collection_select(:budget_dinner_id, BudgetDinner.all, :id, :name) %>
      予算（昼）
      <%= f.collection_select(:budget_lunch_id, BudgetLunch.all, :id, :name) %>
    </div>
    <div class="seat-facility-information">
      座席数
      <%= f.text_area :seats_number, placeholder:"数字のみ" %>
      <%= f.text_area :seats_number_explain, placeholder:"席の概要" %>
      個室
      <%= f.collection_select(:private_room_id, PrivateRoom.all, :id, :name)%>
      <%= f.text_area :private_room_explain, placeholder:"個室の概要" %>
      貸切
      <%= f.collection_select(:charter_id, Charter.all, :id, :name)%>
      喫煙禁煙
      <%= f.collection_select(:smoking_id, Smoking.all, :id, :name)%>
    </div>
    <div class="menu-information">
      ドリンクメニュー
      <%= f.collection_select(:drink_id, Drink.all, :id, :name)%>
      フードメニュー
      <%= f.collection_select(:food_id, Food.all, :id, :name)%>
     
    </div>
    <div class="feature-information">
      利用シーン 
      <label><%= f.radio_button :scene, "初デート" %> 初デート </label>
      <label><%= f.radio_button :scene, "彼女の誕生日" %> 彼女の誕生日 </label>
      <label><%= f.radio_button :scene, "記念日" %> 記念日 </label>
      <label><%= f.radio_button :scene, "合コン" %> 合コン </label>
      店の特徴
      
      <label><%= f.radio_button :feature, "初デートにオススメ" %> 初デートにオススメ </label>
      <label><%= f.radio_button :feature, "お手頃だけどお洒落" %> お手頃だけどお洒落 </label>
      <label><%= f.radio_button :feature, "お手頃なイタリアン" %> お手頃なイタリアン </label>
      <label><%= f.radio_button :feature, "個室がある" %> 個室がある </label>
      <label><%= f.radio_button :feature, "学生にオススメ" %> 学生にオススメ </label>
      <label><%= f.radio_button :feature, "カップルシートがある" %> カップルシートがある </label>
      <label><%= f.radio_button :feature, "お洒落な空間" %> お洒落な空間 </label>
      <label><%= f.radio_button :feature, "喫煙可能" %> 喫煙可能 </label>
      <label><%= f.radio_button :feature, "夜景がキレイ" %> 夜景がキレイ </label>
    </div>
  </div>
  <div class="btn-contents">
    <%= f.submit "投稿する" %>
  </div>
  <% end %>
</div>