<div class="search-result">
  <div class="search-result-main">
    <h2 class="search-keyward">
      検索結果
    </h2>
    <% if @results.length !=0 %>
     <% @results.each do |result|%>
      <td>
      <br>
      <li class="search-restaurant">
        <div class="title">
          <%= link_to result.name, restaurant_path(result) %>
        </div>
        <div class="content">
          <%= image_tag result.image.variant(resize:'300x300'), class: 'message-image' if result.image.attached? %>
          <table class="detail-table">
            <tr>
              <th class="detail-item">店の紹介</th>
              <td class="detail-value"><%= result.about %></td>
            </tr>
          </table>
          <div class="restaurant-review" >
            <%= link_to "口コミをみる", "/restaurants/#{result.id}/reviews" %>
          </div>
        </div>
        <div class="reservation">
          <%= link_to "予約する", "/restaurants/#{result.id}/reservations/new" %>
        </div>
      </li>
     <% end %>
    <% else %>
      該当する商品はありません
    <% end %>
    
    
     
    
  </div>
  <footer class="search-result-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">グルメ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
  </footer>


</div>