<div class="restaurant-about">
  <header>
  </header>
  <div class="restaurant-about-main">
    <div class="restaurant-about-title">
      <%= @restaurant.name %>
      店のジャンル
      <%= @restaurant.genre %>
      ディナーの予算
      <%= @restaurant.budget_dinner_id %>
      ランチの予算
      <%= @restaurant.budget_lunch_id %>
      定休日
      <%= @restaurant.holiday %>
    </div>
    <div class="restaurant-about-content">
         
      <p>店について</p>
      <ul class="restaurant-informations">
        <li class="restaurant-feature">
          <%= @restaurant.feature %>
        </li>
        <li class="restaurant-image">
          <%= image_tag @restaurant.image.variant(resize:'500x500'), class: 'message-image' if @restaurant.image.attached? %>
        </li>
        <li class="restaurant-review">
          <%= link_to "口コミを投稿する", " /restaurants/#{@restaurant.id}/reviews/new" %>
          <% @reviews.each do |review| %>
          <%= render partial: "reviews/review", locals: {review: review} %>
          <% end %>
          
        </li>
      </ul>
      <div class="restaurant-details">
         <%= link_to "予約する", "/restaurants/#{@restaurant.id}/reservations/new" %>
      </div>
    </div>
  </div>
  <footer>
  </footer>
</div>