<div class="review-post">
  <div class="post-top">
    <h2 class="reviewed-restaurant">
      <%= @restaurant.name %>
    </h2>
  </div>
  <div class="post-main">
    <%= form_with(model: [@restaurant, @review], local: true) do |f| %>
        <div class="review-title">
          <%= f.text_field :title, placeholder: "タイトル" %>
        </div>
        <div class="review-content">  
          <%= f.text_area :content, placeholder: "コメントする", rows: "2" %>
        </div>
        <div class="review-image">
          <%= f.file_field :image %>
        </div>
        <%= f.submit "口コミを投稿" %>
      <% end %>
    
  </div>
  
</div>